body {
    background-color: #c2f3ff;
    text-align: center;
    list-style-position: inside;
}

.inlineHeader {
    display: inline;
}

.todoList {
    display: inline-block;
}

.todoListItem {
    background-color: #f08080;
    margin: 10;
}