* {
    padding: 0;
    margin: auto;
    box-sizing: border-box;
    font: 16px Times, serif;
}

body {
    width: 800px;
    min-height: 98vh;
    background-color: #202020;
}

header{
    position: absolute;
    width: inherit;
    height: 200px;
    background-color: transparent;
    color: orange;
}

header > h1{
    position: absolute;
    left: 10px;
    background-color: transparent;
    font-size: 160px;
}

header > p{
    position: absolute;
    right: 200px;
    bottom: 10px;
    background-color: transparent;
    font-size: 16px;
}

#header-icon{
    position: absolute;
    top: 10px;
    right: 10px;
    height: 180px;
    background-color: transparent;
}

nav{
    position: absolute;
    top: 200px;
    width: inherit;
    height: 30px;
    background-color: orange;
}

#top-nav {
    background-color: transparent;
    list-style-type: none;
}

#top-nav>li {
    color: orange;
    display: inline-block;
    margin: 5px;
}

#top-nav>li>a {
    background-color: orange;
    font-style: normal;
    color: #202020;
    margin: 5px;
}

main{
    position: absolute;
    top: 230px;
    width: inherit;
    background-color: #606060;
    padding: 15px 10px;
}

main>hr{
    border: 1px solid #202020;
    margin: 5px 0;
}

#form-intro>h2{
    font-size: 24px;
}

#form-intro>p{
    margin: 10px 0;
}

fieldset{
    border-color: #202020;
}

legend{
    padding: 0 5px;
}

label{
    display: block;
    margin: 5px 0 0 5px;
}

input, textarea{
    margin: 0 5px;
}

.textinput{
    width: 760px;
}

.buttoninput{
    float: right;
    border: 1px #202020;
    margin: 5px;
}

footer{
    position: fixed;
    width: inherit;
    left: inherit;
    bottom: 0;
    background-color: orange;
}